{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Look up</button>
    </form><br><br>
    
    {% if stock %}
        <h6>The stock <strong>{{ stock['symbol'] }}</strong> of <strong>{{ stock['name'] }}</strong> is worth <strong>{{ stock['price'] | usd }}</strong> </h6>
    {% endif %}
{% endblock %}